<article id="post-5569" class="post-5569 post type-post status-publish format-standard hentry category-baking category-cake category-cupcakes category-food">
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-meta">
      <div class="social">&nbsp;</div><!-- .social -->
      Posted on {{ page.date | date_to_long_string}} by {{page.author}}
    </div>
    <!-- .entry-meta -->
  </header>
  <!-- .entry-header -->
  <div class="entry-content">
    {{page.content}}
  </div>
  <!-- .entry-content -->
</article>
