<footer class="entry-meta">
  <span class="cat-links">Posted in
    <a href="/web/20151122161839/http://www.sweetpeonies.com/category/baby/" title="View all posts in baby" rel="category tag">baby</a>,
    <a href="/web/20151122161839/http://www.sweetpeonies.com/category/crafts/" title="View all posts in Crafts" rel="category tag">Crafts</a>,
    <a href="/web/20151122161839/http://www.sweetpeonies.com/category/events/" title="View all posts in Events" rel="category tag">Events</a>
  </span>
  <span class="sep"> | </span>
  <span class="tag-links">Tagged
    <a href="/web/20151122161839/http://www.sweetpeonies.com/tag/sailor-theme-baby-shower-sea-nautical-flags-paper-boat/" rel="tag">sailor theme; baby shower; sea; nautical; flags; paper boat</a>
  </span>
</footer>
