
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ site.title }} | {{ site.description }}</title>
    <!-- This site is optimized with the Yoast WordPress SEO plugin v1.4.25 - http://yoast.com/wordpress/seo/ -->
    <link rel="canonical" href="{{ site.url }}" />
    <link rel='stylesheet' id='style-css'  href='/static/main.css' type='text/css' media='all' />
  </head>
  <body class="home blog">
    <div id="page" class="hfeed site">

      {% include mast_head.html %}
      
      <div id="main">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            <article id="post-5569" class="post-5569 post type-post status-publish format-standard hentry category-baking category-cake category-cupcakes category-food">
              <header class="entry-header">
                <h1 class="entry-title">
                  <a href="http://www.sweetpeonies.com/2013/08/raspberry-drop-chocolate-cupcakes/" title="Permalink to Raspberry Drop Chocolate Cupcakes" rel="bookmark">Raspberry Drop Chocolate Cupcakes</a>
                </h1>
                <div class="entry-meta">        Posted on <a href="http://www.sweetpeonies.com/2013/08/raspberry-drop-chocolate-cupcakes/" title="5:27 pm" rel="bookmark">
                  <time class="entry-date" datetime="2013-08-21T17:27:13+00:00" pubdate>August 21, 2013</time>
                </a>
                <span class="byline"> by <span class="author vcard">
                  <a class="url fn n" href="http://www.sweetpeonies.com/author/tiffany/" title="View all posts by tiffany" rel="author">tiffany</a>
                </span>
              </span>
            </div>
            <!-- .entry-meta -->
            <div class="social">
              <!--Twitter-->
              <span class="blue" style="vertical-align:top; display:inline-block;">
                <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fraspberry-drop-chocolate-cupcakes%2F" class="twitter-share-button" data-count="horizontal">Tweet</a>
              </span>
              <!--Facebook-->
              <span class="green" style="vertical-align:top; display:inline-block;">
                <fb:like href="http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fraspberry-drop-chocolate-cupcakes%2F" layout="button_count" show_faces="false" >
                </fb:like>
              </span>
              <!--Google Plus-->
              <span class="yellow">
                <g:plusone size="medium" href="http://www.sweetpeonies.com/2013/08/raspberry-drop-chocolate-cupcakes/">
                </g:plusone>
              </span>
              <!--Pinterest-->
              <span class="red" style="vertical-align:top; display:inline-block;">
                <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fraspberry-drop-chocolate-cupcakes%2F&media=http%3A%2F%2Fwww.sweetpeonies.com%2Fwp-content%2Fuploads%2F2013%2F08%2FRaspberry-Drop-Chocolate-Cupcakes-Sweet-Peonies-1.jpg" class="pin-it-button" count-layout="horizontal" height="50px">Pin It</a>
              </span>
            </div>
          </header>
          <!-- .entry-header -->
          <div class="entry-content">
            <p>Last weekend the hubby and I had our first outing with friends in Austin. After two weeks of unpacking, rearranging, exploring, getting stuck in traffic, filling out paperwork, and getting stuck in more traffic we were invited to dinner by a fellow PhD student from Jack&#8217;s program. Our task: dessert.</p>
          </div>
          <!-- .entry-content -->
          <footer class="entry-meta">
            <span class="cat-links">          Posted in <a href="http://www.sweetpeonies.com/category/baking/" title="View all posts in Baking" rel="category tag">Baking</a>, <a href="http://www.sweetpeonies.com/category/cake/" title="View all posts in cake" rel="category tag">cake</a>, <a href="http://www.sweetpeonies.com/category/cupcakes/" title="View all posts in cupcakes" rel="category tag">cupcakes</a>, <a href="http://www.sweetpeonies.com/category/food/" title="View all posts in Food" rel="category tag">Food</a>
          </span>
          <span class="sep"> | </span>
          <span class="comments-link">
            <a href="http://www.sweetpeonies.com/2013/08/raspberry-drop-chocolate-cupcakes/#comments" title="Comment on Raspberry Drop Chocolate Cupcakes">
              <span class="dsq-postid" rel="5569 http://www.sweetpeonies.com/?p=5569">1 Comment</span>
            </a>
          </span>
        </footer>
        <!-- #entry-meta -->
      </article>
      <!-- #post-5569 -->
      <article id="post-5538" class="post-5538 post type-post status-publish format-standard hentry category-austin">
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/" title="Permalink to Barton Creek Greenbelt" rel="bookmark">Barton Creek Greenbelt</a>
          </h1>
          <div class="entry-meta">        Posted on <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/" title="12:22 am" rel="bookmark">
            <time class="entry-date" datetime="2013-08-18T00:22:39+00:00" pubdate>August 18, 2013</time>
          </a>
          <span class="byline"> by <span class="author vcard">
            <a class="url fn n" href="http://www.sweetpeonies.com/author/tiffany/" title="View all posts by tiffany" rel="author">tiffany</a>
          </span>
        </span>
      </div>
      <!-- .entry-meta -->
      <div class="social">
        <!--Twitter-->
        <span class="blue" style="vertical-align:top; display:inline-block;">
          <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fbarton-creek-greenbelt%2F" class="twitter-share-button" data-count="horizontal">Tweet</a>
        </span>
        <!--Facebook-->
        <span class="green" style="vertical-align:top; display:inline-block;">
          <fb:like href="http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fbarton-creek-greenbelt%2F" layout="button_count" show_faces="false" >
          </fb:like>
        </span>
        <!--Google Plus-->
        <span class="yellow">
          <g:plusone size="medium" href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/">
          </g:plusone>
        </span>
        <!--Pinterest-->
        <span class="red" style="vertical-align:top; display:inline-block;">
          <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fbarton-creek-greenbelt%2F&media=http%3A%2F%2Fwww.sweetpeonies.com%2Fwp-content%2Fuploads%2F2013%2F08%2FBarton-Creek-Greenbelt-17.jpg" class="pin-it-button" count-layout="horizontal" height="50px">Pin It</a>
        </span>
      </div>
    </header>
    <!-- .entry-header -->
    <div class="entry-content">
      <p>With only a couple of weeks until classes start again for the husband, we are determined to make the most of the beautiful weather and our remaining free time. Sadly, hiding out in the comforts of an air conditioned home in Texas in the middle of the summer sounds and feels all too enticing. Today however, we laced up our hiking boots and set out in search of new adventures.</p>
      <p>
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-17/" rel="attachment wp-att-5555">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-17-575x381.jpg" alt="Barton Creek Greenbelt (17)" width="575" height="381" class="aligncenter size-large wp-image-5555" />
        </a>
        <br />
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-18/" rel="attachment wp-att-5556">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-18-575x381.jpg" alt="Barton Creek Greenbelt (18)" width="575" height="381" class="aligncenter size-large wp-image-5556" />
        </a>
        <br />
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-1/" rel="attachment wp-att-5539">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-1-575x865.jpg" alt="Barton Creek Greenbelt (1)" width="575" height="865" class="aligncenter size-large wp-image-5539" />
        </a>
      </p>
      <p>Unfortunately, our lazy Saturday morning attitude came back to bite us in the caboose and we didn&#8217;t get out to the trails until almost noon. </p>
      <p>
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-15/" rel="attachment wp-att-5553">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-15-575x381.jpg" alt="Barton Creek Greenbelt (15)" width="575" height="381" class="aligncenter size-large wp-image-5553" />
        </a>
        <br />
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-16/" rel="attachment wp-att-5554">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-16-575x865.jpg" alt="Barton Creek Greenbelt (16)" width="575" height="865" class="aligncenter size-large wp-image-5554" />
        </a>
      </p>
      <p>Today&#8217;s adventures took us to Austin&#8217;s Barton Creek Greenbelt. The trails have large limestone cliffs, dense foliage and shallow bodies of water (although today, they were dry-as-a-bone). </p>
      <p>
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-8/" rel="attachment wp-att-5546">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-8-575x865.jpg" alt="Barton Creek Greenbelt (8)" width="575" height="865" class="aligncenter size-large wp-image-5546" />
        </a>
        <br />
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-7/" rel="attachment wp-att-5545">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-7-575x381.jpg" alt="Barton Creek Greenbelt (7)" width="575" height="381" class="aligncenter size-large wp-image-5545" />
        </a>
      </p>
      <p>For those of you (like me) who have never heard of a greenbelt, it is a protected natural or semi-natural environment around an urban area. Barton Creek is maintained by the Parks and Recreation Department of Austin and is meant to improve air quality, provide urban residents with access to countryside and outdoor recreation, and give character to urban areas.  </p>
      <p>
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-5/" rel="attachment wp-att-5543">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-5-575x381.jpg" alt="Barton Creek Greenbelt (5)" width="575" height="381" class="aligncenter size-large wp-image-5543" />
        </a>
        <br />
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-9/" rel="attachment wp-att-5547">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-9-575x381.jpg" alt="Barton Creek Greenbelt (9)" width="575" height="381" class="aligncenter size-large wp-image-5547" />
        </a>
        <br />
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-6/" rel="attachment wp-att-5544">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-6-575x381.jpg" alt="Barton Creek Greenbelt (6)" width="575" height="381" class="aligncenter size-large wp-image-5544" />
        </a>
      </p>
      <p>Since it was nearly noon by the time we arrived at the trails, our hike and &#8220;go-get-em attitudes&#8221; didn&#8217;t last long. However, I wouldn&#8217;t leave without snapping a few photos to share with you all. </p>
      <p>
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-13/" rel="attachment wp-att-5551">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-13-575x381.jpg" alt="Barton Creek Greenbelt (13)" width="575" height="381" class="aligncenter size-large wp-image-5551" />
        </a>
        <br />
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-14/" rel="attachment wp-att-5552">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-14-575x381.jpg" alt="Barton Creek Greenbelt (14)" width="575" height="381" class="aligncenter size-large wp-image-5552" />
        </a>
      </p>
      <p>Stay tuned for more adventures from Austin.</p>
      <p>
        <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/barton-creek-greenbelt-4/" rel="attachment wp-att-5542">
          <img src="jekyll_uploads/2013/08/Barton-Creek-Greenbelt-4-575x381.jpg" alt="Barton Creek Greenbelt (4)" width="575" height="381" class="aligncenter size-large wp-image-5542" />
        </a>
      </p>
    </div>
    <!-- .entry-content -->
    <footer class="entry-meta">
      <span class="cat-links">          Posted in <a href="http://www.sweetpeonies.com/category/austin/" title="View all posts in Austin" rel="category tag">Austin</a>
    </span>
    <span class="sep"> | </span>
    <span class="comments-link">
      <a href="http://www.sweetpeonies.com/2013/08/barton-creek-greenbelt/#respond" title="Comment on Barton Creek Greenbelt">
        <span class="dsq-postid" rel="5538 http://www.sweetpeonies.com/?p=5538">Leave a comment</span>
      </a>
    </span>
  </footer>
  <!-- #entry-meta -->
</article>
<!-- #post-5538 -->
<article id="post-5515" class="post-5515 post type-post status-publish format-standard hentry category-austin tag-austin">
  <header class="entry-header">
    <h1 class="entry-title">
      <a href="http://www.sweetpeonies.com/2013/08/the-heart-of-texas/" title="Permalink to The Heart of Texas" rel="bookmark">The Heart of Texas</a>
    </h1>
    <div class="entry-meta">        Posted on <a href="http://www.sweetpeonies.com/2013/08/the-heart-of-texas/" title="10:12 pm" rel="bookmark">
      <time class="entry-date" datetime="2013-08-15T22:12:15+00:00" pubdate>August 15, 2013</time>
    </a>
    <span class="byline"> by <span class="author vcard">
      <a class="url fn n" href="http://www.sweetpeonies.com/author/tiffany/" title="View all posts by tiffany" rel="author">tiffany</a>
    </span>
  </span>
</div>
<!-- .entry-meta -->
<div class="social">
  <!--Twitter-->
  <span class="blue" style="vertical-align:top; display:inline-block;">
    <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fthe-heart-of-texas%2F" class="twitter-share-button" data-count="horizontal">Tweet</a>
  </span>
  <!--Facebook-->
  <span class="green" style="vertical-align:top; display:inline-block;">
    <fb:like href="http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fthe-heart-of-texas%2F" layout="button_count" show_faces="false" >
    </fb:like>
  </span>
  <!--Google Plus-->
  <span class="yellow">
    <g:plusone size="medium" href="http://www.sweetpeonies.com/2013/08/the-heart-of-texas/">
    </g:plusone>
  </span>
  <!--Pinterest-->
  <span class="red" style="vertical-align:top; display:inline-block;">
    <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.sweetpeonies.com%2F2013%2F08%2Fthe-heart-of-texas%2F&media=http%3A%2F%2Fwww.sweetpeonies.com%2Fwp-content%2Fuploads%2F2013%2F08%2FAustin.jpg" class="pin-it-button" count-layout="horizontal" height="50px">Pin It</a>
  </span>
</div>
</header>
<!-- .entry-header -->
<div class="entry-content">
  <p>Austin welcomed us with open arms and hot weather last week. The city recorded 15 days over 100 degrees and while this heat is causing even the locals to think twice about heading outdoors, the husband and I are LOVING it!</p>
  <p>I thought today I would simply share a few photos of downtown Austin and the capitol building. Be warned, these were taken on the hubby&#8217;s ipod from a moving car. We&#8217;re hoping to take the camera out on a stroll this weekend so stay tuned for more pictures and hopefully some exciting discoveries.</p>
  <p>
    <a href="http://www.sweetpeonies.com/2013/08/the-heart-of-texas/austin-2/" rel="attachment wp-att-5517">
      <img src="jekyll_uploads/2013/08/Austin-2-575x410.jpg" alt="Austin (2)" width="575" height="410" class="aligncenter size-large wp-image-5517" />
    </a>
    <br />
    <a href="http://www.sweetpeonies.com/2013/08/the-heart-of-texas/austin-1/" rel="attachment wp-att-5516">
      <img src="jekyll_uploads/2013/08/Austin-1-575x411.jpg" alt="Austin (1)" width="575" height="411" class="aligncenter size-large wp-image-5516" />
    </a>
    <br />
    <a href="http://www.sweetpeonies.com/2013/08/the-heart-of-texas/austin/" rel="attachment wp-att-5521">
      <img src="jekyll_uploads/2013/08/Austin-575x431.jpg" alt="Austin" width="575" height="431" class="aligncenter size-large wp-image-5521" />
    </a>
  </p>
  <p>Here&#8217;s to lots of Texan adventures, y&#8217;all!</p>
</div>
<!-- .entry-content -->
<footer class="entry-meta">
  <span class="cat-links">          Posted in <a href="http://www.sweetpeonies.com/category/austin/" title="View all posts in Austin" rel="category tag">Austin</a>
</span>
<span class="sep"> | </span>
<span class="tag-links">          Tagged <a href="http://www.sweetpeonies.com/tag/austin/" rel="tag">Austin</a>
</span>
<span class="sep"> | </span>
<span class="comments-link">
  <a href="http://www.sweetpeonies.com/2013/08/the-heart-of-texas/#respond" title="Comment on The Heart of Texas">
    <span class="dsq-postid" rel="5515 http://www.sweetpeonies.com/?p=5515">Leave a comment</span>
  </a>
</span>
</footer>
<!-- #entry-meta -->
</article>
<!-- #post-5515 -->
<nav role="navigation" id="nav-below" class="site-navigation post-navigation">
  <div class="nav-previous">
    <a href="{{ paginator.previous_page_path }}" rel="prev">
      <span class="meta-nav">&larr;</span> Prev</a>
    </div>
    <div class="nav-next">
      <a href="{{ paginator.next_page_path }}" rel="next">Next <span class="meta-nav">→</span>
    </a>
  </div>
</nav>
<!-- #nav-below -->
</div>
<!-- #content -->
</div>
<!-- #primary .site-content -->

  {% include secondary.html %}

<!-- #secondary .widget-area -->
</div>
<!-- #main -->
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
  </div>
  <!-- .site-info -->
</footer>
<!-- .site-footer .site-footer -->
</div>
<!-- #page .hfeed .site -->
</body>
</html>
