<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ page.title }}"/>
    <link rel="canonical" href="{{ page.url }}" />
    <link rel='stylesheet' id='style-css'  href='/static/main.css' type='text/css' media='all' />
    <title>{{site.title}} | {{ page.title }}</title>
  </head>
  <body class="single single-post postid-5569 single-format-standard">
    <div id="page" class="hfeed site">

      {% include mast_head.html %}

      <div id="main">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            <article id="post-5569" class="post-5569 post type-post status-publish format-standard hentry category-baking category-cake category-cupcakes category-food">
              <header class="entry-header">
                <h1 class="entry-title">{{ page.title }}</h1>
                <div class="entry-meta">
                  <div class="social">&nbsp;</div><!-- .social -->
                  Posted on {{ page.date | date_to_long_string}} by {{page.author}}
                </div>
                <!-- .entry-meta -->
              </header>
              <!-- .entry-header -->
              <div class="entry-content">
                {{page.content}}
              </div>
              <!-- .entry-content -->
            </article>
            <!-- #post-5569 -->
            <nav role="navigation" id="nav-below" class="site-navigation post-navigation">
              <div class="nav-previous">
                <a href="{{page.previous.url}}" rel="prev">
                  <span class="meta-nav">&larr;</span> Prev</a>
                </div>
                <div class="nav-next">
                  <a href="{{page.next.url}}" rel="next">Next <span class="meta-nav">→</span>
                </a>
              </div>
            </nav>
            <!-- #nav-below -->
          </div>
          <!-- #content -->
        </div>
        <!-- #primary .site-content -->

        {% include secondary.html %}

      </div>
      <!-- #main -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info">
        </div>
        <!-- .site-info -->
      </footer>
      <!-- .site-footer .site-footer -->
    </div>
    <!-- #page .hfeed .site -->
  </body>
</html>
