<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ page.title }}"/>
    <link rel="canonical" href="{{ page.url }}" />
    <link rel='stylesheet' id='style-css'  href='/static/main.css' type='text/css' media='all' />
    <title>{{site.title}} | {{ page.title }}</title>
  </head>
  <body class="single single-post single-format-standard">
    <div id="page" class="hfeed site">

      {% include mast_head.html %}

      <div id="main">
        <div id="primary" class="site-content">
          <div id="content" role="main">

            {% include article.html %}

            <nav role="navigation" id="nav-below" class="site-navigation post-navigation">
              {% if page.previous %}
                <div class="nav-previous">
                  <a href="{{page.previous.url}}" rel="prev">
                    <span class="meta-nav">&larr;</span> Prev</a>
                </div>
              {% endif %}
              {% if page.next %}
                <div class="nav-next">
                  <a href="{{page.next.url}}" rel="next">Next
                    <span class="meta-nav">→</span></a>
                </div>
              {% endif %}
            </nav>
            <!-- #nav-below -->
          </div>
          <!-- #content -->
        </div>
        <!-- #primary .site-content -->

        {% include secondary.html %}

      </div>
      <!-- #main -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info">
        </div>
        <!-- .site-info -->
      </footer>
      <!-- .site-footer .site-footer -->
    </div>
    <!-- #page .hfeed .site -->
  </body>
</html>
