<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{page.title}}"/>
    <link rel="canonical" href="{{page.url}}" />
    <link rel='stylesheet' id='style-css'  href='/static/main.css' type='text/css' media='all' />
    <title>{{site.title}} | {{ page.title }}</title>
  </head>
  <body class="single single-post postid-5569 single-format-standard">
    <div id="page" class="hfeed site">
      <header id="masthead" class="site-header" role="banner">
        <hgroup>
          <div class="secondary-menu menu-text">
            <div class="menu-secondary-container">
              <ul id="menu-secondary" class="menu">
                <li id="menu-item-4436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4436">
                  <a href="http://www.sweetpeonies.com/">Home</a>
                </li>
                <li id="menu-item-4437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4437">
                  <a href="http://www.sweetpeonies.com/about/">About</a>
                </li>
                <li id="menu-item-4438" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4438">
                  <a href="mailto:tiffany@sweetpeonies.com">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="background-header-image">
            <img src="/static/images/sweetpeonies.png" />
          </div>
          <h1 class="site-title">
            <a href="{{site.url}}" title="{{site.title}}" rel="home">{{site.title}}</a>
          </h1>
          <h2 class="site-description">{{site.description}}</h2>
        </hgroup>
        <nav role="navigation" class="site-navigation main-navigation">
          <h1 class="assistive-text">Menu</h1>
          <div class="assistive-text skip-link">
            <a href="#content" title="Skip to content">Skip to content</a>
          </div>
          <div class="menu-primary-container">
            <ul id="menu-primary" class="menu">
              <li id="menu-item-179" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-179">
                <a href="http://www.sweetpeonies.com/category/food/">Food</a>
              </li>
              <li id="menu-item-137" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-137">
                <a href="http://www.sweetpeonies.com/category/crafts/">Crafts</a>
              </li>
              <li id="menu-item-138" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-138">
                <a href="http://www.sweetpeonies.com/category/flowers/">Flowers</a>
              </li>
              <li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246">
                <a href="http://www.sweetpeonies.com/farm-photos/">Photos</a>
              </li>
              <li id="menu-item-4439" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4439">
                <a href="http://www.sweetpeonies.com/category/gift-wrap/">Gift Wrap</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- #masthead .site-header -->
      <div id="main">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            <article id="post-5569" class="post-5569 post type-post status-publish format-standard hentry category-baking category-cake category-cupcakes category-food">
              <header class="entry-header">
                <h1 class="entry-title">{{ page.title }}</h1>
                <div class="entry-meta">
                  <div class="social">          Posted on {{ page.date | date_to_long_string}} by {{page.author}}        </div>
                </div>
                <!-- .entry-meta -->
              </header>
              <!-- .entry-header -->
              <div class="entry-content">
                {{page.content}}
              </div>
              <!-- .entry-content -->
            </article>
            <!-- #post-5569 -->
            <nav role="navigation" id="nav-below" class="site-navigation post-navigation">
              <div class="nav-previous">
                <a href="{{page.prev}}" rel="prev">
                  <span class="meta-nav">&larr;</span> Prev</a>
                </div>
                <div class="nav-next">
                  <a href="{{page.next}}" rel="next">Next <span class="meta-nav">→</span>
                </a>
              </div>
            </nav>
            <!-- #nav-below -->
          </div>
          <!-- #content -->
        </div>
        <!-- #primary .site-content -->
        <div id="secondary" class="widget-area" role="complementary">
          <aside id="text-15" class="widget widget_text">
            <h1 class="widget-title">About Me</h1>
            <div class="textwidget">
              <img width="100%" src="jekyll_uploads/2013/05/Me.jpg"/>
              <p>&nbsp;</p>  Welcome to SweetPeonies. I'm Tiffany, a West Coast gal, temporarily transplanted in the south.  This blog shares our adventures in building a home wherever life takes us, afterall, home is wherever I'm with you.  <p>&nbsp;</p>
            </div>
          </aside>
          <aside id="linkcat-2" class="widget widget_links">
            <h1 class="widget-title">Blogroll</h1>
            <ul class='xoxo blogroll'>
              <li>
                <a href="http://www.79ideas.org/">79 ideas</a>
              </li>
              <li>
                <a href="http://www.acouplecooks.com">A Couple Cooks</a>
              </li>
              <li>
                <a href="http://apronsandbirds.blogspot.com/">aprons and birds</a>
              </li>
              <li>
                <a href="http://www.cannellevanille.com/">Canelle et Vanille</a>
              </li>
              <li>
                <a href="http://www.cherryteacakes.com/">Cherry Tea Cakes</a>
              </li>
              <li>
                <a href="http://www.flowerwildevents.blogspot.com/">Flower Wild</a>
              </li>
              <li>
                <a href="http://www.howsweeteats.com/">how Sweet it is</a>
              </li>
              <li>
                <a href="http://iammommy.typepad.com/i_am_baker/">I am Baker</a>
              </li>
              <li>
                <a href="http://www.kinfolkmag.com/journal/">Kinfolk</a>
              </li>
              <li>
                <a href="http://www.rinserepeatblog.com/">Rinse. Repeat.</a>
              </li>
              <li>
                <a href="http://simplescratchcooking.wordpress.com/">Simple Scratch Cooking</a>
              </li>
              <li>
                <a href="http://dunkincookingthesemi-homemadeway.blogspot.com/">Simply Recipes</a>
              </li>
              <li>
                <a href="http://www.skinnytaste.com/">skinny taste</a>
              </li>
              <li>
                <a href="http://smittenkitchen.com">smitten kitchen</a>
              </li>
              <li>
                <a href="http://thepioneerwoman.com">The Pioneer Woman</a>
              </li>
              <li>
                <a href="http://tokketok.com/blog/">tokketok</a>
              </li>
            </ul>
          </aside>
          <aside id="archives-2" class="widget widget_archive">
            <h1 class="widget-title">Archives</h1>
            <ul>
              <li>
                <a href='http://www.sweetpeonies.com/2013/08/'>August 2013</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2013/07/'>July 2013</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2013/06/'>June 2013</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2013/05/'>May 2013</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2013/04/'>April 2013</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2013/03/'>March 2013</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2013/02/'>February 2013</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2013/01/'>January 2013</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/12/'>December 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/11/'>November 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/10/'>October 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/09/'>September 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/08/'>August 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/07/'>July 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/06/'>June 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/05/'>May 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/04/'>April 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/03/'>March 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/02/'>February 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2012/01/'>January 2012</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/12/'>December 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/11/'>November 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/10/'>October 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/09/'>September 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/08/'>August 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/07/'>July 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/06/'>June 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/05/'>May 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/04/'>April 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/03/'>March 2011</a>
              </li>
              <li>
                <a href='http://www.sweetpeonies.com/2011/02/'>February 2011</a>
              </li>
            </ul>
          </aside>
          <aside id="text-14" class="widget widget_text">
            <div class="textwidget">
              <a href="http://www.blogwithintegrity.com/">
                <img src="http://www.blogwithintegrity.com/badges/BWI_125sq.jpg" border="0" alt="BlogWithIntegrity.com"/>
              </a>
            </div>
          </aside>
        </div>
        <!-- #secondary .widget-area -->
      </div>
      <!-- #main -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info">
        </div>
        <!-- .site-info -->
      </footer>
      <!-- .site-footer .site-footer -->
    </div>
    <!-- #page .hfeed .site -->
  </body>
</html>
